.container {
    max-width: 500px;
    margin: auto;
    padding: 2rem;
  
    h2 {
      text-align: center;
      color: darkorange;
      margin-bottom: 2rem;
    }
  
    .full-width {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    button {
      width: 100%;
      background-color: darkorange;
      color: white;
    }
}